
body {
	margin: 1vh 2vw 8vh;
}

.image-block {
	text-align: center;
	font-style: italic;
	font-size: .8em;
	margin-block: 7vh;
}

.image-block img {
	object-fit: cover;
	margin: 30px 0px;
	width: 100%;
	margin: auto;
}

#return {
	font-size: .8em;
	margin: 1.2em 1.2em 5vh;
	font-style: italic;
	text-align: center;
}

.content {
	/*min-width: 300px;*/
    /*max-width: 70vw;*/
    /*margin: auto;*/
}

.content p, h1, h2, h3, h4, h5, h6 {
	max-width: 70vw;
	margin-inline: auto;
}

@media only screen and (max-width: 400px) {
	/* For mobile phones: */
	
	body {
		margin: 5% 2%;
	}
}
